<div class="container">
  <h1 class="display-4 text-center">Editing Mechanical Prop</h1>

  <%= render 'form', mechanical_prop: @mechanical_prop %>

  <%= link_to 'Show', @mechanical_prop, class: "btn btn-secondary btn-lg btn-block", style: "color: white;" %>
  <%= link_to 'Back', show_mechanical_props_path, class: "btn btn-secondary btn-lg btn-block", style: "color: white;"  %>
</div>
