<div class="container">
  <h1 class="display-4 text-center">Editing Generator</h1>

  <%= render 'form', generator: @generator %>

  <%= link_to 'Show', @generator, class: "btn btn-secondary btn-lg btn-block", style: "color: white;" %>
  <%= link_to 'Back', jobs_path, class: "btn btn-secondary btn-lg btn-block", style: "color: white;"  %>
</div>
