<p id="notice"><%= notice %></p>

<div class="container text-center">
  <h1 class="display-4">Spot Weld Hub</h1>
  <%= image_tag("main_image.jpg", :alt => "main_img") %>
  <br>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  <%= link_to 'Local Constitutive Properties', new_mechanical_prop_path, class: "btn btn-success btn-lg btn-block", style: "color: white"%>
  <%= link_to 'Weld Deformation and Failure Behavior', new_generator_path, class: "btn btn-success btn-lg btn-block", style: "color: white"%>
</div>

<br>
