<div class="container" style="margin-top: 20px">
  <h1 class="display-4 text-center">New User</h1>

  <%= render 'form', user: @user %>

  <%= link_to 'Back', admin_path, class: 'btn btn-secondary btn-lg btn-block', style: "color: white;" %>
</div>